{% extends "templates/layout.jinja2" %}

{% block "title" %}
    {{ page }}
{% endblock %}

{% block "content" %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ page }}</h1>
        <p>{{ summary }}</p>
    </div>
{% endblock %}






